@import 'bootstrap/dist/css/bootstrap.min.css';



body {

  background: hsl(30, 50%, 30%);

}

#root * {

  box-sizing: border-box;
  font-size: 1.5rem;

}

#app-container {

  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

}



#app-calculator {

  background: hsl(240, 30, 20%);
  box-shadow: 2px 2px 10px black;
  padding: 10px;
  width: 20em;



  #calculator-screens {

    p {

      background: hsl(120, 10, 35%);
      color: black;
      font-size: 1.5em;
      margin: 0px 0px .5rem;
      min-height: 2em;
      padding: .15em;

    }

    #display {

      margin-bottom: 2rem;

    }

  }

  #buttons {

    * {

      user-select: none;

    }

    .btn:active,
    .btn:focus {

      outline: none;
      box-shadow: none;

    }

    #btn-row-top {

      display: flex;
      justify-content: space-between;
      margin-bottom: .4em;



      button {

        font-size: 1.2em;
        font-weight: 600;
        padding-block: .5em;

      }



      #power-btn {

        background: linear-gradient(45deg,
            hsl(0, 50, 45%),
            hsl(0, 50, 50%),
            hsl(0, 50, 45%));
        flex-basis: 25%;

      }

      #power-btn:hover {

        background: linear-gradient(45deg,
            hsl(0, 50, 55%),
            hsl(0, 50, 60%),
            hsl(0, 50, 55%));

      }

      #power-btn:active {

        background: linear-gradient(45deg,
            hsl(0, 50, 45%),
            hsl(0, 50, 50%),
            hsl(0, 50, 45%));

      }



      #clear {

        background: linear-gradient(45deg,
            hsl(40, 90, 45%),
            hsl(40, 90, 50%),
            hsl(40, 90, 45%));
        border: none;
        flex-basis: 25%;

      }

      #clear:hover {

        background: linear-gradient(45deg,
            hsl(40, 90, 65%),
            hsl(40, 90, 70%),
            hsl(40, 90, 65%));

      }

      #clear:active {

        background: linear-gradient(45deg,
            hsl(40, 90, 45%),
            hsl(40, 90, 50%),
            hsl(40, 90, 45%));

      }

    }

    #btn-row-bottom {

      display: grid;
      grid-template-columns: 3fr 1fr;



      button {

        color: white;
        font-size: 2em;

      }



      #numerical-btns {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;



        button {

          background: linear-gradient(45deg,
              hsl(20, 30, 40%),
              hsl(20, 30, 45%),
              hsl(20, 30, 40%));
          flex-basis: 33%;

        }

        button:hover {

          background: linear-gradient(45deg,
              hsl(20, 30, 50%),
              hsl(20, 30, 55%),
              hsl(20, 30, 50%));

        }

        button:active {

          background: linear-gradient(45deg,
              hsl(20, 30, 40%),
              hsl(20, 30, 45%),
              hsl(20, 30, 40%));

        }




        #zero {

          order: 10;

        }

        #decimal {

          order: 11;

        }

        #equals {

          order: 12;

        }

      }

      #operator-btns {

        display: inline-flex;
        flex-direction: column;



        button {

          background: linear-gradient(45deg,
              hsl(15, 60, 45%),
              hsl(15, 60, 50%),
              hsl(15, 60, 45%));
          width: 100%;

        }

        button:hover {

          background: linear-gradient(45deg,
              hsl(15, 60, 55%),
              hsl(15, 60, 60%),
              hsl(15, 60, 55%));

        }

        button:active {

          background: linear-gradient(45deg,
              hsl(15, 60, 45%),
              hsl(15, 60, 50%),
              hsl(15, 60, 45%));

        }

      }

    }

  }

}



@media only screen and (max-width: 480px) {

  #root * {

    font-size: 1rem;

  }

  #app-calculator {

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100% !important;



    #calculator-screens {

      p:first-of-type {

        min-height: 7.5em;

      }

      #display {

        margin-bottom: 0 !important;

      }

    }

    #buttons {

      #btn-row-top {

        #power-btn:hover {

          background: linear-gradient(45deg,
              hsl(0, 50, 45%),
              hsl(0, 50, 50%),
              hsl(0, 50, 45%)) !important;

        }

        #power-btn:active {

          background: linear-gradient(45deg,
              hsl(0, 50, 35%),
              hsl(0, 50, 40%),
              hsl(0, 50, 35%)) !important;

        }



        #clear:hover {

          background: linear-gradient(45deg,
              hsl(40, 90, 45%),
              hsl(40, 90, 50%),
              hsl(40, 90, 45%)) !important;

        }

        #clear:active {

          background: linear-gradient(45deg,
              hsl(40, 90, 35%),
              hsl(40, 90, 40%),
              hsl(40, 90, 35%)) !important;

        }

      }

      #btn-row-bottom {

        #numerical-btns {

          button:hover {

            background: linear-gradient(45deg,
                hsl(20, 30, 40%),
                hsl(20, 30, 45%),
                hsl(20, 30, 40%)) !important;

          }

          button:active {

            background: linear-gradient(45deg,
                hsl(20, 30, 30%),
                hsl(20, 30, 35%),
                hsl(20, 30, 30%)) !important;

          }

        }

        #operator-btns {

          button:hover {

            background: linear-gradient(45deg,
                hsl(15, 60, 45%),
                hsl(15, 60, 50%),
                hsl(15, 60, 45%)) !important;

          }

          button:active {

            background: linear-gradient(45deg,
                hsl(15, 60, 35%),
                hsl(15, 60, 40%),
                hsl(15, 60, 35%)) !important;

          }

        }

      }

    }

  }

}